body {
	font-family: 'Ubuntu', sans-serif;
}

#menu {
	font-size: 0.8em;

	&.fixed {
		box-sizing: border-box;
		opacity: 0.5;
		padding: 1em;
		position: fixed;
		right: 1em;
		width: 250px;

		.heading {
			display: none;
		}

		.navigation {
			background: #CCC;
			padding: 1em;

			.item {
				padding-bottom: 1em;
			}
		}
	}

	.navigation {
		padding-top: 1em;

		.item {
			display: inline-block;
			padding-right: 1em;
		}
	}
}

#gallery, #menu {
	margin: auto 1em;
}